{{define "games-list"}}
<ul id="games" class="list-group">
    <div id="elements" hx-get="/games-list-elements" hx-trigger="every 3s" class="list-group list-group-item">
        {{template "games-list-elements" .}}
    </div>
    <li class="list-group-item">
        <form hx-post="/games" hx-target="main">
            <div class="row mt-3 align-items-center justify-content-between">
                <div class="col-10">
                    <input id="game-name" name="name" type="text" class="form-control">
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <button class="btn btn-primary">
                        {{template "icon-plus"}}
                        Add game
                    </button>
                </div>
            </div>
        </form>
    </li>
</ul>
{{end}}

{{define "games-list-elements"}}
{{range $game := .}}
<li id="game-{{$game.Id}}" class="list-group-item">
    <div class="row">
        <div class="col-10">
            <div hx-get="/board/{{$game.Id}}" hx-target="main" class="list-group-item-action p-2">
                {{$game.Name}}
            </div>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <button hx-delete="/games/{{$game.Id}}" hx-target="#game-{{$game.Id}}" hx-swap="outerHTML"
                class="btn btn-outline-danger px-3" title="Delete">
                {{template "icon-trash"}}
            </button>
        </div>
    </div>
</li>
{{end}}
{{end}}

{{define "games"}}
<h2 class="mb-3">List of games</h2>
{{template "games-list" .}}
{{end}}