{{define "select-side"}}
{{template "back-button"}}

<div class="rounded-md border shadow p-3 space-y-3 h-1/2 lg:h-2/3 flex flex-col justify-evenly">
    <h2 class="text-4xl lg:text-6xl text-center sticky">Select side</h2>
    {{if .AlreadySelected}}
    <div class="p-3 rounded-md bg-red-300 text-red-500 shadow mb-3" role="alert">
        Side already selected
    </div>
    {{end}}
    <div class="rounded-md border shadow py-5">
        <div class="flex row justify-center space-x-3 lg:h-48 h-28">
            <button hx-post="/select-side/x" hx-target="main"
                class="w-1/4 text-white rounded-md bg-cyan-400 transition enabled:hover:bg-cyan-500 disabled:opacity-30 px-3 h-full flex justify-center" 
                {{if .XSelected}} disabled
                {{else}} enabled
                {{end}}>
                {{template "icon-cross" "self-center w-20 h-20"}}
            </button>
            <button hx-post="/select-side/o" hx-target="main"
                class="w-1/4 text-white rounded-md bg-cyan-400 transition enabled:hover:bg-cyan-500 disabled:opacity-30 px-3 h-full flex justify-center" 
                {{if .OSelected}} disabled
                {{else}} enabled
                {{end}}>
                {{template "icon-circle" "self-center w-20 h-20"}}
            </button>
            <button hx-post="/select-side/spectator" hx-target="main"
                class="w-1/4 rounded-md bg-gray-50 transition hover:bg-gray-200 px-3 h-full">
                <p class="lg:text-4xl text-xl">spectator</p>
            </button>
        </div>
    </div>
</div>
{{end}}
