{{define "board"}}
<button class="btn" hx-get="/games" hx-target="main">Back</button>
<div class="container text-center" hx-ext="ws" ws-connect="/ws/{{.GameId}}">
    {{range $rowInx, $row := .Board}}
    <div class="row">
        {{range $colInx, $col := $row }}
        <div class="col">
            <form ws-send>
                <input type="hidden" name="col" value="{{$colInx}}">
                <input type="hidden" name="row" value="{{$rowInx}}">
                <button id="row-{{$rowInx}}-col-{{$colInx}}">
                    {{$col}}
                </button>
            </form>
        </div>
        {{end}}
    </div>
    {{end}}
</div>
{{end}}