{{define "games-list"}}
<ul id="games" class="list-group">
    {{range $game := .}}
    <div id="game-{{$game.Id}}" class="row">
        <div class="col-6">
            <li hx-get="/board/{{$game.Id}}" hx-target="main" class="list-group-item list-group-item-action">
                {{$game.Name}}
            </li>
        </div>
        <div class="col-1">
            <button hx-delete="/games/{{$game.Id}}" hx-target="#game-{{$game.Id}}" hx-swap="outerHTML"
                class="btn btn-sm btn-danger">
                {{template "icon-trash"}}
                Delete
            </button>
        </div>
    </div>
    {{end}}
</ul>
{{end}}

{{define "games"}}
<h1>List of games</h1>
{{template "games-list" .}}
<form hx-post="/games" hx-target="main">
    <input name="name" type="text">
    <button class="btn btn-primary">
        {{template "icon-plus"}}
        Add game
    </button>
</form>
{{end}}