#board {
    width: 80vw;
    height: 80vw;
}

@media screen and (min-width: 48em) {
    #board {
        width: 80vh;
        height: 80vh;
    }
}

.board-row {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 33%;
}

.board-cell {
    width: 32%;
    height: 100%;
    border: 2px;
    border-style: solid;
    border-color: cyan;
}

.board-row div.board-cell:nth-child(1) {
    border-left: none;
}

.board-row div.board-cell:nth-child(3) {
    border-right: none;
}

:nth-child(1 of div.board-row) .board-cell {
    border-top: none;
}

:nth-child(3 of div.board-row) .board-cell {
    border-bottom: none;
}

.board-cell button {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 0.5rem;
    transition: all 200ms;
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

button.occupied {
    animation: fade-in 500ms ease-out;
}

.board-cell button svg {
    width: 66%;
    height: 66%;
}

.board-cell button.free:hover, .board-cell button.free:focus-visible {
    background-color: #d3d3d3;
}
.board-cell button:focus-visible {
    outline: 5px solid black;
}

.board-cell button.free:active {
    background-color: #a3a3a3;
}